<h1>Questions#answer</h1>
<p>Hello</p>

<div class="question">
  <p>The student question is <%= @your_message %></p>
</div>
<br>
<div class="answer">
  <p>The coach answer is <%= @answer %></p>
</div>

<br>
<%= link_to "Back", ask_path %>

